body{
  margin: 0;
  padding-bottom: 1000px;
}
h2{
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: 39px;
  color: #212121;
  font-weight: 645;
  margin: 0;
}
h4{
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: 15px;
  color: #212121;
  font-weight: 500;
  margin: 0;
}
h5{
  color: #757575d9;
  font-size: 15px;
}
